# Task 1

### 1) Write a program to get the data type of a data

In [1]:
a='abcs'
type(a)

str

### 2) Write a program to convert a integer data type to float data type

In [2]:
x=10
float(x)

10.0

### 3) Write a program to convert a integer data type to float data type and vice versa

In [4]:
x=10
a=float(x)
y=10.0
b=int(y)
print(a)
print(b)

10.0
10

### 4) Write a programme to get the actual location of the data

In [5]:
a=10
id(a)

2417533413968

### 5) Give an example of implict conversion and explict conversion

In [9]:
x=33
y=33.3
z=int(y)
c=x+y
d=x+z
print('implict conversion', c)
print('explict conversion', d)

implict conversion 66.3
explict conversion 66

### 6) Write a programme to prove that python is a case senstive language

In [10]:
x=10
print('my age is :' X)

SyntaxError: invalid syntax (3813835282.py, line 2)

### 7) Write a programme to get a syntax error

In [11]:
x=10
print('my age is :' X)

SyntaxError: invalid syntax (3813835282.py, line 2)

### 8) Write a programme to get a type error

In [12]:
x='hjgb'
y=x+10
y

TypeError: can only concatenate str (not "int") to str

### 9) Give an example of mulitple statement in a single line

In [13]:
x=10 ; y=20 
x+y

30

### 10) Give an example of single line statement in multiple line

In [68]:
#add the numbers 2,6,9,5,3

In [14]:
2+\
6\
+9\
+5+\
3

25